.photo {
    position: relative;
    display: inline-block;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;
}

.photo img {
    display: block;
    width: 600px;
    height: 500px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.photo:hover img {
    transform: scale(1.1);
}

.photo .title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.photo:hover .title {
    opacity: 1;
}

.photo .description {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 14px;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    line-height: 1.4;
}

.photo:hover .description {
    opacity: 1;
}